<div
  (mousemove)="moving($event)"
  class="containers relative h-screen overflow-hidden w-screen bg-[#000] flex items-center justify-center text-[#fff] text-[100px] text-extrabold">
  <div class="animation h-[200px] w-[500px] flex items-center justify-center border border-slate-200 rounded-md">
    Animation
  </div>
  <div class="hand absolute top-[50%] left-[20%] z-10 h-[100px] w-[100px] rounded-full border flex items-center justify-center bg-slate-50">
    <img class="w-[150px] h-[150px]" src="arrow-sm-right-svgrepo-com.svg" alt="">
  </div>
</div>